@import "tailwindcss";

@font-face {
    font-family: Primary;
    src: url("../public/fonts/Lausanne-500.woff2");
}

@font-face {
    font-family: Secondary;
    src: url("../public/fonts/Lausanne-300.woff2");
}

body{
    background-color: #111;
    font-family: "Ubuntu", sans-serif;
}

.transition-bars{
    height: 100%;
    width: 25%;
    background-color: black;
}